.edu__cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.edu__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}